{% extends 'base.html.twig' %}

{% block title %}Modification du rapport numéro{{rapport.id}}{% endblock %}
{% form_theme form _self %}

{% block body %}

<div class="container mt-2">
    <h1 class="text-center">Modification du rapport du {{rapport.rapdate | date('d/m/Y ')}}</h1>
    {{form_start(form)}}

    <div class="row">
    <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
        <div class="card bg-light">
        <div class="card header">
        <h4><div class="card-title">Corriger le rapport ?</div></h4>
        </div>
        <div class="card-body">
        {{form_widget(form)}}
        <button type="submit" class="btn btn-primary">
        <i class="fas fa-check"></i>
        Enregistrer les modifications
        </button>
        </div>
        
        </div>

        </div>
        <div class="col">

        </div>

    </div>


    {{form_end(form)}}
</div>
{% endblock %}

{% block _rapport_offrirs_widget %}
{{form_widget(form)}}
{% endblock %}

{% block _rapport_offrirs_entry_row %}

<div id="block_{{id}}">
{{ form_widget(form) }}
</div>
{% endblock %}

{% block _rapport_offrirs_entry_widget %}
<div class="row align-items-center">
    <div class="col-4">
        {{form_row(form.off_qte) }}
    </div>
    <div class="col-6">
        {{form_row(form.medicament) }}
    </div>
</div>
{% endblock %}